<div class="row">
<div class="columns">
    <div class="column is-6 is-offset-3">
        <div class="card">
            <div class="card-content">
                <table class="table" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Course Name</th>
                            <th>Current Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each grades}}
                        <tr>
                            <td>{{course}}</td>
                            <td>{{score}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <a href="/addgrade?id={{studentId}}" class="button is-success">Add Grade</a>
            </div>
        </div>
    </div>
</div>
</div>